# Ignore Visual Studio Code specific files
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore build outputs
dist/
build/

# Ignore dependencies
node_modules/
